/*-------------------------------FONTS INITIALISATION-------------------------------*/

/*commande pour importer plusieurs fonts depuis le site de google fonts sans installation*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Nabla&family=Oswald:wght@200;300;400;500;600;700&family=Passion+One:wght@400;700&family=Roboto+Condensed:wght@700&family=Roboto:wght@100;300;400;500;700;900&family=Secular+One&family=Staatliches&display=swap');

/* NOM DES FONTS DISPONIBLES
font-family: 'Anton', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Nabla', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Secular One', sans-serif;
font-family: 'Staatliches', cursive;
*/


/*-------------------------------PROPRIETES GENERALES-------------------------------*/

*{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: "roboto", Arial, Helvetica, sans-serif;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(16, 14, 46);
}

.bannière {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: aqua;
    width: 100vw;
    height: 35vh;
    background: url(../../images/521564.jpeg) no-repeat center / cover;
    box-shadow: 0px 50px 100px rgba(44, 0, 116, 0.445);
}

.bannière h1 {
    font-style: 'Roboto', sans-serif;
    font-size: 50px;
    color: #0f0f2e;
    text-align: center;
}


.information {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;


    background-color: #0f0f2e;
    align-items: center;
    justify-content: center;
}

.info_img {
    width: 100vw;
}


.info_img ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


}

.info_img ul section li {
    display: flex;
    margin-top: 8%;
    list-style-type: none;
    font-size: 150%;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info_img section {
    display: flex;
    background-color: #0D0B26;
    width: 20vw;
    height: 20vw;

    min-width: 250px;
    min-height: 250px;

    margin-top: 8%;
    border-radius: 5px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}


.cercle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    background: rgb(255, 137, 1);

}

.cercle i {
    transform: scale(3);
}

.formulaire {
    display: flex;
    justify-content: center;

    width: 100vw;
    margin-top: 5%;
    margin-bottom: 5%;
}

.bas {
    display: flex;
    flex-direction: column;
}

.haut {
    display: flex;
    justify-content: space-between;
}

.haut input {
    background-color: #272645;
    height: 40px;
    width: 298px;
    border-radius: 5px;
}

.haut input#email {
    display: flex;
    margin-left: 5%;
}



.bas input {
    background-color: #272645;
    margin-top: 4%;
    height: 40px;
    width: 600px;
    border-radius: 5px;

}

textarea {
    background-color: #272645;
    margin-top: 4%;
    height: 240px;
    width: 600px;
    border-radius: 5px;
    max-width: 600px;
    min-width: 600px;
    min-height: 240px;

    max-height: 300px;

    border: none;

}

.envoyer button {
    width: 90px;
    height: 40px;
    border-radius: 5px;
    margin-top: 2.5%;
    background-color: #FF8901;

}

.envoyer button:hover {
    background-color: rgb(0, 179, 255);

}

input {
    background-color: transparent;
    border: none;

}

.haut input::placeholder {
    font-size: 110%;
    padding: 10%;

}

.bas ::placeholder {
    font-size: 110%;
    padding: 4.5%;

}