/*-------------------------------FONTS INITIALISATION-------------------------------*/

/*commande pour importer plusieurs fonts depuis le site de google fonts sans installation*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Nabla&family=Oswald:wght@200;300;400;500;600;700&family=Passion+One:wght@400;700&family=Roboto+Condensed:wght@700&family=Roboto:wght@100;300;400;500;700;900&family=Secular+One&family=Staatliches&display=swap');

/* NOM DES FONTS DISPONIBLES
font-family: 'Anton', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Nabla', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Secular One', sans-serif;
font-family: 'Staatliches', cursive;
*/


/*-------------------------------PROPRIETES GENERALES-------------------------------*/

*{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: "roboto", Arial, Helvetica, sans-serif;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: rgb(16, 14, 46);

/* FOOTER */


footer {
    padding-top: 75px;
    background-color: #0D0B26;
    font-family: Arial, Helvetica, sans-serif;

    color:darkgray;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.titre_footer {
    color: #FFFFFF;
    margin-bottom: 25px;
    font-size: 25px;
}

.info_liste {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    justify-content: start;

    margin-bottom: 25px;
}

.info_style {
    color: orange;
    font-weight: 700;
}

.li {
    margin-top: 20px;
}

.icon_liste {
    display: flex;
    justify-content: start;
}

.icon_footer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 5px;
    padding: 5px;
    height: 25px;
    width: 25px;
    font-size: 15px;

    border-radius: 10%;

    color: white;
    background-color: orange;
    list-style-type: none;
}

i {
    color: white;
    background-color: orange;
}

.copyright_footer {
    margin-top: 100px;
    margin-bottom: 25px;
}

.power_of_memory_footer {
    display: flex;
    flex-direction: column;
    color: orange;
}

.power_of_memory_liste {
    list-style-type: square;
    list-style-position: inside;
}

.li2 {
    margin-bottom: 20px;
}

.li2 a {
    text-decoration: none;
    color: darkgray;
}